// ---- ---- color ---- ---- //
$color_white: #ffffff;
$color_t_main: #ebebeb;
$color_t_dark: #bfbfbf;
// $color_t_info: #959595;
$color_t_accent: #a2734a;
$color_bg_dark: #0d0a07;
// $color_bg_accent: #e3b873;

// ---- ---- main ---- ---- //
html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  max-width: 100%;
  width: 100%;
  min-width: 300px;
  overflow-x: hidden;
  // font-family: 'Cormorant', serif;
  // font-family: 'Cormorant Garamond', serif;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.container {
  max-width: 1276px;
  padding: 0 10px;
  margin: 0 auto;
}
// ---- ---- title ---- ---- //
.title {
  &__h1 {
  }
  &__h3 {
  }
}
// ---- ---- menu ---- ---- //
.logo {
}
.menu {
  &__list {
  }
  &__item {
  }
  &__link {
  }
  &__link--arrow {
  }
}
.btn {
}

// ---- ---- footer ---- ---- //
.footer {
  &__wrap {
  }
  &__logo {
  }
  &__text {
  }
  &__btn {
  }
}
