// ---- ---- color ---- ---- //
$color_white: #ffffff;
$color_t_main: #ebebeb;
$color_t_light: #f7f7f7;
$color_t_light2: #d9d9d9;
$color_t_medium: #bdb6b0;
$color_t_dark: #bfbfbf;
$color_t_accent: #a2734a;
$color_bg_dark: #0d0a07;
$color_bg_card: #191919;
$color_bg_accent: #583e29;
$color_bg_border: #333333;

// ---- ---- main ---- ---- //
$pad_top: 75px;
// ---- ---- main ---- ---- //
html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  max-width: 100%;
  width: 100%;
  min-width: 300px;
  overflow-x: hidden;
  // font-family: 'Cormorant', serif;
  // font-family: 'Cormorant Garamond', serif;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}
.main {
  background-color: $color_bg_dark;
}
img {
  object-fit: cover;
}
// ---- ---- title ---- ---- //
.title {
  &__h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 72px;
    font-weight: 500;
    font-style: italic;
    line-height: 1;
    color: $color_t_accent;
    margin-bottom: 28px;
    span {
      font-style: normal;
    }
  }
  &__h3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 72px;
    font-weight: 500;
    font-style: italic;
    line-height: 0.75;
    color: $color_t_accent;
    span {
      font-style: normal;
    }
  }
}
// ---- ---- menu ---- ---- //
.logo {
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  color: $color_white;
}
.menu {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  &__item {
    line-height: 18px;
    color: $color_white;
  }
  &__link {
    &:hover {
      color: $color_t_accent;
    }
  }
  &__link--arrow {
    color: $color_t_accent;
    img {
      padding-left: 10px;
      transition: transform 0.3s ease;
    }
    &:hover {
      img {
        transform: translateX(10px);
      }
    }
  }
}
.btn {
  padding: 15px 30px;
  color: $color_white;
  border: 1px solid $color_bg_accent;
  transition: transform 0.3s ease;
  &:hover {
    color: $color_t_accent;
    transform: translateY(1px);
  }
}
// ---- ---- modal ---- ---- //
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  opacity: 0;
  z-index: 10;
}
.modal__box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 700px;
  padding: 20px 40px;
  background-color: $color_bg_card;
  border-radius: 16px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: $color_t_main;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  z-index: 11;
}
.modal.active .overlay,
.modal.active .modal__box {
  opacity: 1;
  pointer-events: auto;
}
.modal.active .modal__box {
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}
.modal__title {
  text-align: center;
  margin-bottom: 45px;
}
// ---- ---- footer ---- ---- //
.footer {
  &__wrap {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $color_bg_border;
  }
  &__logo {
    color: $color_t_accent;
  }
  &__text {
    text-align: center;
    color: $color_white;
  }
}
