// ---- ---- media ---- ---- //
@media (max-width: 1200px) {
  .trait {
    &__wrap {
      padding-bottom: 0;
    }
    &__wrap-box {
      display: flex;
      align-items: flex-start;
    }
    &__box-text {
      margin-left: 0;
    }
    &__img {
      position: static;
    }
    &__img--two {
      margin-top: -40px;
    }
    &__img--three {
      display: block;
      margin: 0 auto;
    }
  }
}
@media (max-width: 1090px) {
  .video__img--1,
  .video__img--3 {
    display: none;
  }
  .special__wrap {
    flex-direction: column;
  }
}
@media (max-width: 960px) {
  .header__wrap {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 900px) {
  .type__wrap {
    gap: 15px;
  }
  .history__wrap {
    flex-direction: column;
  }
  .history__img {
    display: block;
    margin: 0 auto;
  }
  .history__title {
    max-width: 500px;
    margin-top: 0px;
    margin-bottom: 40px;
  }
}
@media (max-width: 790px) {
  .trait {
    &__box-text {
      max-width: 350px;
      padding: 25px 26px 15px 27px;
    }
    &__wrap-box {
      align-items: center;
    }
  }
  .type__wrap {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
@media (max-width: 650px) {
  $font_size_title: 55px;
  $pad_top: 40px;
  .header {
    &__wrap {
      flex-direction: row;
      gap: 5px;
    }
    &__btn {
      margin: 0 auto;
    }
  }
  .menu {
    &__btn {
      display: block;
      order: 3;
      margin-right: 20px;
    }
    &__list {
      display: none;
      gap: 20px;
    }
  }
  .title__h1 {
    padding-top: 75px;
    font-size: $font_size_title;
  }
  .title__h3 {
    font-size: $font_size_title;
  }
  .hero {
    &__text {
      font-size: 15px;
      margin-bottom: 25px;
      max-width: 230px;
    }
    &__info-text {
      margin-bottom: 15px;
    }
    &__info {
      padding-top: 25px;
    }
  }
  .trait {
    padding-top: $pad_top;
  }
  .video {
    padding-top: $pad_top;
  }
  .special {
    padding-top: $pad_top;
    &__wrap {
      margin-bottom: $pad_top;
    }
    &__img {
      margin-bottom: $pad_top;
    }
  }
  .type {
    padding-top: $pad_top;
  }
  .history {
    padding-top: $pad_top;
  }
}
@media (max-width: 580px) {
  .type__wrap {
    flex-direction: column;
    align-items: center;
  }
  .type__item {
    max-width: 350px;
    background-color: $color_bg_card;
    padding: 25px 15px;
    &:nth-child(even) {
      padding-top: 0px;
    }
  }
  .footer__wrap {
    flex-direction: column;
    gap: 25px;
  }
  .footer__btn {
    order: 2;
  }
  .footer__text {
    order: 3;
  }
}
@media (max-width: 550px) {
  .trait {
    &__wrap-box {
      flex-direction: column-reverse;
    }
    &__box-text {
      padding: 20px 10px;
    }
  }
  .history__number {
    font-size: 100px;
    line-height: 35px;
  }
}
@media (max-width: 450px) {
  .header__wrap {
    flex-wrap: wrap;
    gap: 15px;
  }
  .header__btn {
    order: 3;
  }
  .menu__btn {
    order: 2;
  }
}
@media (max-width: 440px) {
  .title__h1 {
    padding-top: 50px;
  }
  .hero {
    &__wrap {
      background-position: 79% 30%;
    }
    &__text-under-title {
      margin-bottom: 180px;
    }
    &__text {
      max-width: 400px;
    }
    &__box {
      flex-direction: column;
    }
    &__info {
      max-width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }
    &__link {
      margin-bottom: 10px;
    }
  }
  .video__play {
    max-width: 80px;
  }
  .history__number {
    font-size: 80px;
    line-height: 25px;
  }
}
