// ---- ---- fonts ---- ---- //
@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Cormorant+Garamond:ital,wght@0,400;0,500;1,500&family=Inter:wght@400;500;600&display=swap');
// ---- ---- reset ---- ---- //
@import 'normalize.scss';
@import 'myreset.scss';
@import 'base.scss';
@import 'global.scss';
// ---- ---- header ---- ---- //
.header {
  padding: 15px 0 0;
  background-color: $color_bg_dark;
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid $color_bg_border;
    padding: 0 0 15px 0;
  }
  &__logo {
  }
  &__menu {
  }
  &__btn {
  }
}
// ---- ---- hero ---- ---- //
.hero {
  background-color: $color_bg_dark;
  &__wrap {
    background-position: 79% 100px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__title {
    padding-top: 121px;
    text-align: center;
  }
  &__text-under-title {
    max-width: 400px;
    text-align: center;
    color: $color_t_light;
    margin: 0 auto 69px;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  &__left {
  }
  &__text {
    max-width: 280px;
    line-height: 135%;
    color: $color_t_dark;
    margin-bottom: 19px;
  }
  &__text--big {
    max-width: 300px;
    font-size: 24px;
    color: $color_t_main;
    margin-bottom: 84px;
  }
  &__text--small {
    max-width: 250px;
    margin-bottom: 93px;
  }
  &__link {
    display: inline-block;
    font-weight: 500;
    color: $color_t_accent;
    margin-bottom: 43px;
    img {
      padding-left: 10px;
      transition: transform 0.3s ease;
    }
    &:hover {
      img {
        transform: translateX(10px);
      }
    }
  }
  &__right {
  }
  &__info {
    padding-top: 75px;
    max-width: 150px;
  }
  &__info-title {
    color: $color_t_medium;
    margin-bottom: 18px;
  }
  &__info-text {
    font-family: 'Cormorant Garamond', serif;
    font-size: 36px;
    font-weight: 500;
    font-style: italic;
    line-height: 1;
    color: $color_white;
    margin-bottom: 33px;
  }
}

// ---- ---- trait ---- ---- //
.trait {
  &__wrap {
  }
  &__box-text {
  }
  &__title {
  }
  &__text {
  }
  &__img {
  }
  &__img--one {
  }
  &__img--two {
  }
  &__img--three {
  }
}
// ---- ---- video ---- ---- //
.video {
  &__title {
  }
  &__box {
  }
  &__img {
  }
}
// ---- ---- special ---- ---- //
.special {
  &__wrap {
  }
  &__title {
  }
  &__text {
  }
  &__img {
  }
}
// ---- ---- type ---- ---- //
.type {
  &__title {
  }
  &__wrap {
  }
  &__item {
  }
  &__img {
  }
  &__title-item {
  }
  &__text {
  }
}
// ---- ---- bigtext ---- ---- //
.bigtext {
  &__text {
  }
  &__img {
  }
}
// ---- ---- history ---- ---- //
.history {
  &__wrap {
  }
  &__info {
  }
  &__title {
  }
  &__text {
  }
  &__img-box {
  }
  &__number {
  }
  &__img {
  }
}
// ---- ---- media ---- ---- //
@import 'media.scss';
